<div class="row">
  <aside class="col-sm-3">
    <div class="card text-center">
      <div class="card-header text-center">
        <h4 class="card-title"><%= @user.name %></h4>
      </div>
      <div class="card-body">
        <p class="mt-4 mb-4">設定地域:<%= @user.area.prefecture %></p>
        <% if current_user? %>
          <%= link_to "ユーザー編集", edit_user_path(@user), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-9">
    <h3>投稿コメント一覧</h3>
    <%= render 'comments/comments', comments: @comments %>

  </div>
</div>