<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= @user.name %></h5>
      </div>
      <div class="card-body">
        <p>設定地域:<%= @user.area.prefecture %></p>
        <% if current_user? %>
          <%= link_to "ユーザー編集", edit_user_path(@user), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <h3>投稿コメント一覧</h3>
  </div>
</div>