<% if logged_in? %>
  <p>ログインユーザー: <%= current_user.name %>
<% else %>
  <div class="top-page">
    <img src="/assets/3364037_m.jpg" class="img-fluid" alt="topimage">
    <h1 class="top-page-text">WeatherFahison</h1>
  </div>
  <div class="main mt-5 pt-5">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2>天気にあった服装を提案</h2>
        <p>登録地点の1日の天気を表示し気温と湿度より</p>
        <p>その日の服装の指標を表示します。</p>
        <p>又、コメント機能があるため今日の服装や体感温度を<p>
        <p>投稿して同じ地域のユーザーと共有しましょう！<p>
      </div>
      <div class="col-md-6">
        <img src="/assets/3364037_m.jpg" class="img-fluid" alt="demo">
      </div>
    </div>
    <div class="row mt-5 pt-5">
      <div class="col-md-6">
        <img src="/assets/3364037_m.jpg" class="img-fluid" alt="demo">
      </div>
      <div class="col-md-6 text-center">
        <h2>場所検索機能</h2>
        <p>全国の天気を検索することができます。</p>
        <p>お出かけ先の天気を調べて</p>
        <p>その場所に適した服装を選べます。</p>
      </div>
    </div>
  </div>
  <div class="footer mt-5 pt-5">
    <div class="text-center">
      <p>今すぐ登録する？</p>
      <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>